* {
  box-sizing: border-box;
}

.carousel-inner img {
      width: 50%;
      height: 50%;
  }

.a {
	padding-left: 80px;
	height: 10px;
	background-color: white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}